@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model AKCore.Models.AlbumEditModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="album-upload">
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="add-album" class="btn btn-primary">
                Skapa album
            </button>
        </div>
    </div>
    <div class="row edit-form" id="add-album-container" style="display: none;">
        <div class="col-md-6">
            <form action="/AlbumEdit/AddAlbum" id="add-album-form" method="post">
                <div class="alert alert-danger" style="display: none;">
                </div>
                <div class="form-group">
                    <label for="name">Albumnamn: </label>
                    <input type="text" class="form-control" id="name" name="name" required placeholder="Menytext">
                </div>

                <button type="submit" class="btn btn-default">Skapa</button>
            </form>
        </div>
    </div>
</div>

<div id="album-list">
</div>

<script>

    var albums = {};
    @foreach (var a in Model.Albums)
    {
        @: albums['@a.Id'] = {};
        @: albums['@a.Id'].name = '@a.Name';
        @: albums['@a.Id'].id = '@a.Id';
        @: albums['@a.Id'].image = '@a.Image';
        @: albums['@a.Id'].date = '@a.Released';
    }
</script>