@using AKCore.DataModel
@model AKCore.Models.AlbumEditModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="album-upload">
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="add-album" class="btn btn-primary">
                Skapa album
            </button>
        </div>
    </div>
    <div class="row edit-form" id="add-album-container" style="display: none;">
        <div class="col-md-6">
            <form action="/AlbumEdit/AddAlbum" id="add-album-form" method="post">
                <div class="alert alert-danger" style="display: none;">
                </div>
                <div class="form-group">
                    <label for="name">Albumnamn: </label>
                    <input type="text" class="form-control" id="name" name="name" required placeholder="Menytext">
                </div>
                <button type="submit" class="btn btn-default">Skapa</button>
            </form>
        </div>
    </div>
</div>

<div id="album-list">
</div>

<div id="imagePickerModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Välj en bild</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline ak-search" id="search-pickermedia-form" action="" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="SearchPhrase" id="searchtext">
                    </div>
                    <div class="form-group">
                        <select name="Tag" id="search-mediatags" class="form-control">
                            <option value="">Alla bilder</option>
                            @foreach (var p in AkMediaTags.MediaTags)
                            {
                                <option value="@p">@p</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Sök</button>
                </form>
                <div class="row gallery" id="picker-images"></div>
            </div>
            <div class="modal-footer">
                Välj bild
            </div>
        </div>
    </div>
</div>

<div id="trackmanagmentmodal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Spår</h4>
            </div>
            <div class="modal-body">
                <form id="trackform" class="box" method="post" action="/Media/UploadFile" enctype="multipart/form-data">
                    <div class="box__input text-center">
                        <div id="tracklist">
                            Inga spår uppladdade hittills
                        </div>

                        <div>
                            <label class="btn btn-default btn-file">
                                <span>Ladda upp fler spår</span>
                                <input class="box__file" style="display: none;" multiple type="file" name="TrackFiles" id="trackFiles"/>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

    var albums = {};
    @foreach (var a in Model.Albums)
    {
        @: albums['@a.Id'] = {};
        @: albums['@a.Id'].name = '@a.Name';
        @: albums['@a.Id'].id = '@a.Id';
        @: albums['@a.Id'].image = '@a.Image';
        @: albums['@a.Id'].date = '@a.Released';
        @: albums['@a.Id'].tracksCount = '@a.Tracks.Count';
        @: albums['@a.Id'].tracks = {};
        foreach (var track in a.Tracks)
        {
            @: albums['@a.Id'].tracks['@track.Number'] = {};
            @: albums['@a.Id'].tracks['@track.Number'].name = '@track.FileName';
            @: albums['@a.Id'].tracks['@track.Number'].id = '@track.Id';
        }
    }
</script>