@using AKCore.DataModel
@using AKCore.Models
@model LogModel
@{
    var query = (string.IsNullOrEmpty(Model.Type) ? string.Empty: "&type=" + Model.Type) +
                (string.IsNullOrEmpty(Model.UserName) ? string.Empty : "&user=" + Model.UserName);
}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline ak-search">
            <div class="form-group">
                <input type="text" name="user" class="form-control" asp-for="UserName" placeholder="Användarnamn">
            </div>
            <div class="form-group">
                <select asp-for="Type" class="form-control">
                    <option value="">Välj typ</option>
                    @foreach (var i in AkLogTypes.LogTypes)
                    {
                        <option>@i</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Sök</button>
            </div>
        </form>
        <h1>Adminlogg</h1>
    </div>
</div>

<div class="log-item-list">
    <div class="log-item-menu hidden-xs row">
        <div class="col-sm-2">
            Tid
        </div>
        <div class="col-sm-2">
            Typ
        </div>
        <div class="col-sm-2">
            Användare
        </div>
        <div class="col-sm-6">
            Händelse
        </div>
    </div>
    @foreach (var logItem in Model.Log)
    {
        <div class="log-item row">
            <div class="col-sm-2 col-xs-6">
                @logItem.Modified.ToString("yy-MM-dd HH:mm")
            </div>
            <div class="col-sm-2 col-xs-6">
                @logItem.Type
            </div>
            <div class="col-sm-2 col-xs-6">
                @(logItem.ModifiedBy != null ? logItem.ModifiedBy.UserName : "Borttagen")
            </div>
            <div class="col-sm-6 col-xs-6">
                @logItem.Comment
            </div>
        </div>
    }
    @if (Model.TotalPages > 1)
    {
        <div class="row">
            <div class="col-xs-12">
                <ul class="pagination">
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        if(i < 4 || i > Model.TotalPages - 3 || ( i > Model.Page - 1 && i < Model.Page + 3 )) {
                            <li class="@(Model.Page == i - 1 ? "active" : "")"><a href="?p=@(i - 1)@query">@i</a></li>
                        } else if(i == 4 || (i == Model.TotalPages -3 && Model.Page > 1)){
                            <li class=""><span class="dots">...</span></li>
                        }
                    }
                </ul>
            </div>
        </div>
    }
</div>
