@using AKCore.DataModel
@using System.Globalization
@model Event
@{
    var culture = new CultureInfo("sv");
}
<div class="col-sm-4 col-xs-6" style="font-weight: 500;">
    <p style="text-transform: capitalize;">@Model.Day.ToString("dddd dd", culture)/@Model.Day.ToString("MM", culture) </p>
    @if (Model.Type == "Rep")
    {
        <p>Rep</p>
        <p>@Model.Place</p>
    }
    else if (Model.Type == "Kårhusrep")
    {
        <p>Kårhusrep</p>
    }
    else if (Model.Type == "Fikarep")
    {
        <p>Fikarep</p>
    }
    else
    {
        <p>@Model.Name</p>
        <p>@Model.Place</p>
    }
</div>
<div class="col-sm-4 col-xs-6">
    @{
        var halan = Model.HalanTime.ToString(@"hh\:mm");
        var there = Model.ThereTime.ToString(@"hh\:mm");
        var start = Model.StartsTime.ToString(@"hh\:mm");
        if (halan != "00:00")
        {
            <p>Samling i hålan: @halan</p>
        }
        if (there != "00:00" && (Model.Type == "Spelning" || Model.Type == "Kårhusrep"))
        {
            <p>Samling på plats: @there</p>
        }
        if (start != "00:00" && Model.Type == "Spelning")
        {
            <p>Spelning startar: @start</p>
        }
    }
</div>

@if (Model.Type == "Spelning" || Model.Type == "Kårhusrep")
{
    <div class="col-sm-4 col-xs-12">
        @{ 
            if (ViewBag.Member) { 
                var signup = Model.SignUps.FirstOrDefault(x => x.PersonId == ViewBag.UserId);
                if (signup!=null)
                {
                    <a class="green" href="/upcoming/Event/@Model.Id">Anmäld (@signup.Where)</a>
                }
                else
                {
                    <a href="/upcoming/Event/@Model.Id">Anmäl</a>
                }
            }
        }
        <p class="hidden-xs">@Model.CanCome() Kommer - @Model.CantCome() Kommer inte</p>
        @if (Model.Type == "Spelning" && Model.Stand != null)
        {
            <p>Speltyp: @Model.Stand</p>
        }
        else if (Model.Type == "Kårhusrep")
        {
            <p>Fika och städning: @Model.Fika</p>    
        }
    </div>
}
@if (Model.Type == "Rep")
{
    <div class="col-sm-4 col-xs-6">
        <p>Fika och städning: @Model.Fika</p>
    </div>
}
<div class="extra">
    <div class="col-sm-12 col-xs-12 description">
        <p>@Model.Description</p>
    </div>
    <div class="col-sm-12 col-xs-12">
        <p>@Model.InternalDescription</p>
    </div>
</div>
