@using AKCore.DataModel
@using System.Globalization
@model Event
@{
    var culture = new CultureInfo("sv");
}
<div class="col-sm-4" style="font-weight: 500;">
    <p style="text-transform: capitalize;">@Model.Day.ToString("dddd dd", culture)/@Model.Day.ToString("MM", culture) </p>
</div>
<div class="col-sm-4">
    <p>@Model.Name</p>
    <p>@Model.Place</p>
</div>
<div class="col-sm-4">
    @{
        var start = Model.StartsTime.ToString(@"hh\:mm");

        if (start != "00:00" && Model.Type == "Spelning")
        {
            <p>Spelning startar: @start</p>
        }
    }
</div>
<div class="extra">
    <div class="col-sm-12 description">
        <p>@Model.Description</p>
    </div>
</div>
