@using AKCore.DataModel
@model AKCore.Models.MemberListModel

<div class="row" id="search-widget"></div>

<script>
    var memberList = {};
    @foreach (var instr in Model.Users)
    {
        @: memberList['@Html.Raw(instr.Key)'] = [];
        foreach (var pers in instr)
        {
            @: var pers = {};
            @: pers.name = '@Html.Raw(pers.GetEncodedName())';
            @: pers.email = '@Html.Raw(pers.Email)';
            @: pers.phone = '@Html.Raw(pers.Phone)';
            @: pers.instrument = '@Html.Raw(pers.Instrument)';
            @: memberList['@Html.Raw(instr.Key)'].push(pers);
        }
    }
    var instruments = [];
    @foreach (var i in AkInstruments.Instrument)
    {
        @: instruments.push('@Html.Raw(i)');
    }
</script>