@using AKCore.DataModel
@model AKCore.Models.MemberListModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <form class="form-inline ak-search" id="search-member-form" action="" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" asp-for="SearchPhrase" placeholder="Sök här">
            </div>
            <div class="form-group">
                <select class="form-control" asp-for="Instrument">
                    <option value="">Sök efter instrument</option>
                    @foreach (var i in AkInstruments.Instrument)
                    {
                        <option>@i</option>
                    }
                </select>

            </div>
            <button type="submit" class="btn btn-default">Sök</button>
        </form>
        <div id="adress-register">
            <h1>Adressregister</h1>
            @foreach (var group in Model.Users)
            {
                <div class="instr-cat">
                    <h2>@group.Key</h2>
                    @foreach (var u in group)
                    {
                        <div class="kamerer">
                            <div class="name-email">
                                @u.FirstName @u.LastName<br>
                                <a href="mailto:@u.Email">@u.Email</a>
                            </div>
                            <div class="address">
                                @u.Adress<br>
                                @u.ZipCode @u.City
                            </div>
                            <div class="phone-nation">
                                @u.Nation <br />
                                <a href="tel:@u.Phone">@u.Phone</a><br>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>