@model AKCore.Models.MediaModel

@foreach (var m in Model.MediaFiles)
{
    <div class="col-sm-3 image-box">
        @if (m.Type == "Document")
        {
            <span class="glyphicon glyphicon-file"></span>
            <span class="doc-ext">@m.GetExtension()</span>
        }
        else
        {
            <img src="/media/@m.Name" />
        }
        <a href="#" class="remove-media glyphicon glyphicon-remove" data-name="@m.Name"></a>
        <p class="name">@m.Name</p>
    </div>
}

<nav class="col-xs-12">
    <ul class="pagination">
        @for(var i = 1; i <= Model.TotalPages; i++) {
            <li class="@(Model.CurrentPage == i ? "active" : "")"><a href="#" data-page="@i">@i</a></li>
        }
    </ul>
</nav>