@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using AKCore.DataModel
@model AKCore.Models.MediaModel

<div id="media-app"></div>


@*<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" style="display: none;"></div>
        <div class="alert alert-success" style="display: none;">Fil uppladdad</div>
        <form id="upload-form" class="box" method="post" action="/Media/UploadFile" enctype="multipart/form-data">
            <div class="box__input text-center">
                <div class="cloud-arrow">
                    <span class="glyphicon glyphicon-cloud-upload"></span>
                </div>
                <div>
                    <label class="choose-file" for="file">
                        <span class="box__dragndrop">Dra hit filen</span>
                    </label>
                    <label class="file-name" for="file" style="display: none;"></label>
                </div>
                <div class="attach-or">Eller</div>
                <div>
                    <label class="btn btn-default btn-file">
                        Välj en fil <input class="box__file" style="display: none;" type="file" name="UploadFile" id="file"/>
                    </label>
                </div>
                <div class="form-group">
                    <select name="Tag" id="upload-mediatags" class="form-control mediatags" required>
                        @foreach (var p in AkMediaTags.MediaTags)
                        {
                            <option value="@p">@p</option>
                        }
                    </select>
                </div>

            </div>
        </form>
        <div class="text-center">
            <a class="btn btn-default upload-btn" id="upload-file-btn">Ladda upp</a>
        </div>
    </div>
</div>

<div class="row gallery">
    <div class="col-md-12">
        <h3>Uppladdade bilder:</h3>
        <form class="form-inline ak-search" id="search-media-form" action="" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="SearchPhrase" id="searchtext">
            </div>
            <div class="form-group">
                <select name="Tag" id="search-mediatags" class="form-control">
                    <option value="">Välj kategori</option>
                    @foreach (var p in AkMediaTags.MediaTags)
                    {
                        <option value="@p">@p</option>
                    }
                </select>
            </div>

            <button type="submit" class="btn btn-default">Sök</button>
        </form>
    </div>
    <div id="uploaded-files">
        <partial name="Partials/MediaList" model="Model" />
    </div>
</div>

<div id="fileeditmodal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Redigera fil</h4>
            </div>
            <div class="modal-body">
                <form id="fileeditform" method="post" action="/Media/EditFile">
                    <h2 id="fileedit-name"></h2>
                    <img id="fileedit-img" />
                    <div class="form-group">
                        <select name="Tag" id="fileedit-tag" class="form-control">
                            @foreach (var p in AkMediaTags.MediaTags)
                            {
                                <option value="@p">@p</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" name="Id" id="fileedit-id"/>
                    <button type="submit" class="btn btn-default">Uppdatera</button>
                </form>
            </div>
        </div>
    </div>
</div>*@
