@using System.Globalization
@model AKCore.Models.UpcommingModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    var culture = new CultureInfo("sv");
}

@foreach (var g in Model.Events)
{
    <h2>@g.Key</h2>
    var lastMonth = "";

    foreach (var e in g)
    {
        var newMonth = e.Day.ToString("MMMM", culture);
        if (lastMonth != newMonth)
        {
            <h3 class="new-month">@newMonth</h3>
            lastMonth = newMonth;
        }
        <div class="row event-row">
            <div class="col-sm-4" style="font-weight: bold;">
                <p style="text-transform: capitalize;">@e.Day.ToString("dddd dd", culture)/@e.Day.ToString("MM", culture) </p>
                @if (e.Type != "Rep")
                {
                    <p>@e.Name</p>
                }
                else
                {
                    <p>Rep</p>
                }
                <p>@e.Place</p>
            </div>
            <div class="col-sm-4">
                @{
                    var halan = e.Halan.ToString("HH:mm");
                    var there = e.There.ToString("HH:mm");
                    var start = e.Starts.ToString("HH:mm");
                    if (halan != "00:00")
                    {
                        <p>Samling i hålan: @halan</p>
                    }
                    if (there != "00:00")
                    {
                        <p>Samling på plats: @there</p>
                    }
                    if (start != "00:00")
                    {
                        <p>Spelning startar: @start</p>
                    }
                }
            </div>
            @if (e.Type == "Rep")
            {
                <div class="col-sm-4">
                    <p>Fika och städning: @e.Fika</p>
                </div>
            }
            else if (e.Type == "Spelning" && User.Identity.IsAuthenticated)
            {
                <div class="col-sm-4">
                    <a href="/Upcomming/Event/@e.Id">Anmäl</a>
                    <p>@e.CanCome() Kommer @e.CantCome() Kommer inte</p>
               </div>
            }
            <div class="col-sm-12 description">
                <p>@e.Description</p>
            </div>
            @if (ViewBag.loggedIn)
            {
                <div class="col-sm-12">
                    <p>@e.InternalDescription</p>
                </div>
            }
        </div>
    }
}