@using AKCore.DataModel
@model AKCore.Models.PostModel

<div id="kamerersposter">
    <div class="kategori">
        <h2>Styrelse</h2>
        <div class="row">
            <div class="col-sm-4">
                Överkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.OK])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                ÖK - Ordförande
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Kamrerskamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.KK])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                KK - kassör
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Skrivkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.SK])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                SK - sekreterare
            </div>
        </div>
    </div>
    <div class="kategori">
        <h2>Funktionärer</h2>
        <div class="row">
            <div class="col-sm-4">
                Balettkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Balettkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvariga för baletten (2 st)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Musikkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Musikkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för det konstnärliga - dirigent (2/3 st)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Pubkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Pubkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för puben (1 ord, 1 stf)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Sexkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Sexkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för allt vad fest heter (2 st)
            </div>
        </div>
    </div>
    <div class="kategori">
        <h2>Slavkamererer</h2>
        <div class="row">
            <div class="col-sm-4">
                Busskamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Busskamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvariga för grisen (2 st)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Kamerakamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Kamerakamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvara för att dokumentera AKs frammarsch i form av foto och film
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Kramkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Kramkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Har ansvar för att agera som en trygg kontakt för föreningens medlemmar under verksamheten (2-3 st)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Myskamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Myskamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för att det ska vara mysigt i hålan(dvs toapapper och sånt)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Instrumentkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Instrumentkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för orkesterns instrument
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Nintendokamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Nintendokamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för Hålans dator, AKs hemsida samt för info- och snacklistan. (2 st)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Nostalgikamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Nostalgikamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för orkesterns kollektiva minne
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Notkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Notkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för notarkivet
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                PR-kamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Prkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarar för att vi hörs och syns via t.ex. affischer
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Prylkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Prylkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för medaljer, tröjor, märken och dylikt
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Skrubbkamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Skrubbkamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarig för Hålan, t.ex. glödlampor osv. (1 ord, 1 stf)
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Sponsringskamerer
            </div>
            <div class="col-sm-4">
                @foreach (var user in Model.Users[AkPoster.Sponsringskamerer])
                {
                    <p>@user.GetName()</p>
                }
            </div>
            <div class="col-sm-4">
                Ansvarar för att hitta sponsorer
            </div>
        </div>
    </div>
</div>
