@model AKCore.Models.HeaderModel

<header>
    <div class="container">
        <a class="logo" href="/">
            <img class="hidden-xs" src="@settings.CDN/images/logo.png" alt="Alte Kamereren & Kamrérbaletten" />
            <img class="visible-xs" src="@settings.CDN/images/mobillogo.png" alt="Alte Kamereren & Kamrérbaletten" />
        </a>
           <div class="account hidden-xs">
            <span class="notice-box hidden-sm@(Model.LoggedIn ? "" : " logged-out")">
                @if (Model.LoggedIn && Model.Recruits > 0)
                {
                    <a class="interested-notice" title="@Model.Recruits @t.Get(TranslationDomains.Header, "UnreadInterested")" href="/Signup/Recruits">
                        <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                        <span class="text">@Model.Recruits</span>
                    </a>
                }
                @if (Model.LoggedIn && Model.Mails > 0)
                {
                    <a class="mail-notice" title="@Model.Mails olästa brevlådeposter" href="/MailBox">
                        <span class="fa fa-envelope" aria-hidden="true"></span>
                        <span class="text">@Model.Mails</span>
                    </a>
                }
                <span class="language-change-container">
                    <a id="language-change" class="@(t.IsEnglish() ? "SV" : "EN")" href="#">
                        @(t.IsEnglish() ? "SV" : "EN")
                    </a>
                </span>
            </span>
            @if (!Model.LoggedIn)
            {
                <a href="#" class="login">@t.Get(TranslationDomains.Header, "LogIn")</a>
            }
            else
            {
                <p>
                    @t.Get(TranslationDomains.Header, "LoggedInAs")
                    @if (Model.UserName == "nintendo")
                    {
                        @: nintendo
                    }
                    else
                    {
                        <a class="profile-link" href="/Profile">@Model.UserName</a>
                    }
                </p>
                <a href="/Account/Logout" class="logout">@t.Get(TranslationDomains.Header, "LogOut")</a>
            }
        </div>
        <div class="social hidden-xs hidden-print">
            <a href="https://www.facebook.com/altekamereren/" target="_blank" rel="noopener" class="fa fa-facebook-square" aria-hidden="true"></a>
            <a href="https://twitter.com/Alte_Kamereren" target="_blank" rel="noopener" class="fa fa-twitter-square" aria-hidden="true"></a>
            <a href="https://www.youtube.com/user/AlteKamereren" target="_blank" rel="noopener" class="fa fa-youtube-square" aria-hidden="true"></a>
            <a href="https://www.instagram.com/altekamereren/" target="_blank" rel="noopener" class="fa fa-instagram" aria-hidden="true"></a>
        </div>
    </div>
    <nav>
        <partial name="Partials/DesktopMenu" model="Model"/>
    </nav>
</header>
<div id="mobile-menu" class="mobile-menu">
    <partial name="Partials/MobileMenu" model="Model"/>
</div>