@model AKCore.DataModel.Widget

@{
    ViewData["test"]="ThreePuffs";
}

<div class="row three-puffs">
    <div class="col-sm-4">
        <a class="puff" href="/upcoming">
            <div class="puff-bild-container">
                <div class="puff-bild" style="background-image:url('@settings.CDN@Model.Image')"></div>
            </div>
            @Html.Raw(Model.Text)
        </a>
    </div>
    <div class="col-sm-4">
        <a class="puff" href="/hire">
            <div class="puff-bild-container">
                <div class="puff-bild" style="background-image:url('@settings.CDN/images/skivomslag.JPG')"></div>
            </div>
            <p>@t.Get(TranslationDomains.Widgets,"Hire")</p>
        </a>
    </div>
    <div class="col-sm-4">
        <a class="puff" href="/join">
            <div class="puff-bild-container">
                <div class="puff-bild" style="background-image:url('@settings.CDN/images/pajkamerer.jpg')"></div>
            </div>
            <p>@t.Get(TranslationDomains.Widgets,"Join")</p>
        </a>
    </div>
</div>