@using System.Globalization
@using AKCore.DataModel
@model AKCore.Models.UpcomingModel
@{
    var culture = new CultureInfo("sv");
    ViewBag.Member = Model.Medlem;
    ViewBag.UserId = Model.UserId;
    ViewData["Description"] = @"Alte kamererens kommande spelnigar. Se oss på plats!";
}

<div id="upcoming-app">
</div>



    @*@if (Model.LoggedIn)
    {
        <div class="calendar-actions">
            <a href="/upcoming/akevents.ics" id="ical-link-anchor" class="fa fa-calendar" aria-hidden="true"> Ical-länk</a>
            <div class="input-group ical-copy hide">
                <input class="form-control" id="ical-link" type="text" readonly value="@Model.ICalLink" />
                <span class="input-group-btn">
                    <button class="btn btn-default fa fa-files-o copy-btn" data-clipboard-target="#ical-link" type="button"></button>
                </span>
            </div>
            <div class="calendar-control hidden-xs">
                <a href="#" class="event calendar-toggle active">Lista</a><a href="#" class="month calendar-toggle">Månad</a>
            </div>
        </div>
    }

    <script>
        var calendarEvents = {};
        var calendarYear = {};
        var calendarMonth = {};
        var calendarDayEvent = {};
    </script>

    <div id="calendar-list">
        @foreach (var g in Model.Events)
        {
            <h2>@g.Key</h2>
            var lastMonth = "";

            <script>
                calendarYear = {};
            </script>

            foreach (var e in g)
            {
                var newMonth = e.Day.ToString("MMMM", culture);
                if (lastMonth != newMonth)
                {
                    <h3 class="new-month">@newMonth</h3>
                    <script>
                        calendarMonth = {};
                    </script>
                    lastMonth = newMonth;
                }
                <div class="row event-row@(e.HasNoDescription() ? "" : " expandable")">
                    @if (Model.LoggedIn)
                    {
                        @Html.Partial("Partials/LoggedInEvent", e)
                    }
                    else
                    {
                        @Html.Partial("Partials/LoggedOutEvent", e)
                    }
                </div>
                @if (newMonth != null)
                 {
                     <script>
                         if (calendarMonth['@e.Day.Day'] == null) {
                             calendarMonth['@e.Day.Day'] = [];
                         }
                         calendarDayEvent = {};
                         calendarDayEvent.name = '@(string.IsNullOrWhiteSpace(e.Name) ? e.Type : e.Name)';
                         calendarDayEvent.day =
                             '@e.Day.ToString("dddd dd", culture)/@e.Day.ToString("MM", culture)';
                         calendarDayEvent.halan = '@(e.HalanTime.ToString(@"hh\:mm"))';
                         calendarDayEvent.there = '@(e.ThereTime.ToString(@"hh\:mm"))';
                         calendarDayEvent.start = '@(e.StartsTime.ToString(@"hh\:mm"))';
                         calendarDayEvent.id = '@e.Id';
                         calendarDayEvent.fika = '@e.Fika';
                         calendarDayEvent.type = '@e.Type';
                         calendarDayEvent.place = '@e.Place';
                         calendarDayEvent.cancome = @e.CanCome();
                         calendarDayEvent.cantcome = @e.CantCome();
                         calendarDayEvent.stand = '@e.Stand';
                         calendarDayEvent.desc = '@e.Description';
                         calendarDayEvent.intdesc = '@e.InternalDescription';
                         calendarMonth['@e.Day.Day'].push(calendarDayEvent);
                         calendarYear['@newMonth'] = calendarMonth;
                     </script>
                 }
            }
            <script>
                calendarEvents['@g.Key'] = calendarYear;
            </script>
        }
    </div>
    @if (Model.LoggedIn) {
        <div id="calendar" class="hide"></div>
        <div id="event-info-modal" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        <div class="col-sm-4" style="font-weight: 500;">
                            <p class="modal-day" style="text-transform: capitalize;"></p>
                            <p class="modal-place"></p>
                        </div>
                        <div class="col-sm-4">
                            <p class="modal-halan"></p>
                            <p class="modal-there"></p>
                            <p class="modal-start"></p>
                        </div>
                        <div class="col-sm-4">
                            <a class="green modal-signup" href=""></a>
                            <p class="modal-comming"></p>
                            <p class="modal-stand"></p>
                            <p class="modal-fika"></p>
                        </div>
                            <div class="extra">
                                <div class="col-sm-12">
                                    <p class="modal-description">Hej på dig</p>
                                </div>
                                <div class="col-sm-12">
                                    <p class="modal-intdescription">Tjosvejs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    @if (!Model.Events.Any())
    {
        <p>Vi har tyvärr inga spelningar inplanerade närmaste tiden.</p>
    }*@