@using AKCore.DataModel
@model AKCore.Models.UsersModel

<thead>
<tr>
    <th>Namn</th>
    <th>Email</th>
    <th>Roller</th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var u in Model.Users)
{
    var roles = Model.Roles[u.UserName] as IList<string>;
    var posts = Model.Posts[u.UserName] as IList<string>;
    if (roles == null)
    {
        roles = new List<string>();
    }

    if (posts == null)
    {
        posts = new List<string>();
    }
    var fullName = u.FirstName != null && u.LastName != null ? u.FirstName + " " + u.LastName : u.UserName;

    <tr data-toggle="collapse" data-target="#accordion-@u.Id" class="clickable collapsed hover-grey">
        <td>@fullName</td>
        <td>@u.Email</td>
        <td class="roles" id="roles-@u.UserName">
            @foreach (var r in roles)
            {
                <span class="role" data-toggle="tooltip" data-placement="top" title="@Model.GetRoleInfo(r)">@r <a class="remove-role glyphicon glyphicon-remove" data-user="@u.UserName" data-role="@r"></a></span>
            }
        </td>
        <td>
            <a class="btn remove-user glyphicon glyphicon-remove" data-user="@u.UserName"></a>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <div id="accordion-@u.Id" class="collapse user-edit">
                <div class="user-edit-area row">
                    <div class="col-sm-6">
                        <p>Användarinfo:</p>
                        <div class="edit-group">
                            <p>
                                <strong>Användarnamn:</strong> @u.UserName</p>
                            <p>
                                <strong>Fullt namn:</strong> @u.FirstName @u.LastName</p>
                            <p>
                                <strong>Instrument:</strong> @u.Instrument</p>
                            <p>
                                <strong>Slavposter:</strong> 
                                @foreach (var p in posts)
                                {
                                    <span> @p</span>
                                }
                            </p>
                            <form class="form-inline save-medal" method="post" action="/User/SaveMedal">
                                <input type="hidden" name="userName" value="@u.UserName"/>
                                <div class="form-group">
                                    <strong>Senast förtjänade medalj: @u.Medal</strong>
                                    <select class="form-control input-sm" name="medal" asp-for="@u.Medal">
                                        <option value="">Ingen</option>
                                        @foreach (var m in AkMedals.TermMedals)
                                        {
                                            <option value="@m">@m</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary input-sm">Spara</button>
                                </div>
                            </form>
                            <form class="form-inline save-medal" method="post" action="/User/SaveGivenMedal">
                                <input type="hidden" name="userName" value="@u.UserName" />
                                <div class="form-group">
                                    <strong>Senast utdelad medalj: @u.GivenMedal</strong>
                                    <select class="form-control input-sm" name="medal" asp-for="@u.GivenMedal">
                                        <option value="">Ingen</option>
                                        @foreach (var m in AkMedals.TermMedals)
                                        {
                                            <option value="@m">@m</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary input-sm">Spara</button>
                                </div>
                            </form>
                            <a href="#" data-user="@u.UserName" class="btn btn-default edit-user-info">Redigera användarinfo</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>Ändra användarinställningar: <i class="fa fa-question-circle roles-info" data-html="true" data-toggle="tooltip" data-placement="top" title="Supernintendo: Full access <br>Editor: Kan redigera sidor, filer, album samt se intresseanmlningar<br>Medlem: Kan anmäla sig till spelningar samt redigera sin info<br>Balett: Kan se balettsidor" aria-hidden="true"></i></p>
                        <div class="edit-group">
                            <form class="form-inline add-role" action="/User/AddRole" method="POST">
                                <div class="form-group">
                                    <label>Lägg till roll: </label>
                                    <select class="form-control input-sm" name="Role">
                                        <option value="">Välj roll</option>
                                        @foreach (var r in AkRoles.Roles)
                                        {
                                            if (!roles.Contains(r))
                                            {
                                                <option value="@r">@r</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <input type="hidden" name="UserName" value="@u.UserName"/>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary input-sm">Lägg till</button>
                                </div>
                            </form>
                        </div>
                        <div class="edit-group">
                            <a href="#" class="btn btn-primary reset-pass-btn" data-user="@u.UserName">Nytt lösenord</a>
                        </div>
                        <div class="edit-group">
                            <label>Lägg till post(er): </label>
                            <form class="form-inline add-post" action="/User/AddPost" method="POST">
                                <select name="post" multiple class="form-control multi-select" asp-for="@posts">
                                    @foreach (var p in AkPoster.Poster)
                                    {
                                        <option>@p</option>
                                    }
                                </select>
                                <input type="hidden" name="userName" value="@u.UserName" />
                                <div class="form-group">
                                    <button type="reset" class="btn btn-primary input-sm">Rensa</button>
                                    <button type="submit" class="btn btn-primary input-sm">Spara</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
}
</tbody>