@using AKCore.DataModel
@model AKCore.Models.UsersModel

<thead>
<tr>
    <th>Användarnamn</th>
    <th>Email</th>
    <th>Roller</th>
    <th></th>
</tr>
</thead>
<tbody>
@foreach (var u in Model.Users)
{
    var roles = Model.Roles[u.UserName] as IList<string>;
    <tr data-toggle="collapse" data-target="#accordion-@u.UserName" class="clickable collapsed hover-grey">
        <td>@u.UserName</td>
        <td>@u.Email</td>
        <td class="roles" id="roles-@u.UserName">
            @foreach (var r in roles)
            {
                <span class="role">@r <a class="remove-role glyphicon glyphicon-remove" data-user="@u.UserName" data-role="@r"></a></span>
            }
        </td>
        <td><a class="btn remove-user glyphicon glyphicon-remove" data-user="@u.UserName"></a></td>
    </tr>
    <tr>
        <td colspan="4">
            <div id="accordion-@u.UserName" class="collapse user-edit">
                <p>Ändra användarinställningar:</p>
                <form class="form-inline add-role" action="/User/AddRole" method="POST">
                    <div class="form-group">
                        <label >Lägg till roll: </label>
                        <select class="form-control input-sm" name="Role">
                            <option value="">Välj roll</option>
                            @foreach (var r in AkRoles.Roles)
                            {
                                if (!roles.Contains(r)) { 
                                    <option value="@r">@r</option>
                                }
                            }
                        </select>
                    </div>
                    <input type="hidden" name="UserName" value="@u.UserName" />
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary input-sm">Lägg till</button>
                    </div>
                </form>
            </div>
        </td>
    </tr>
}
</tbody>