<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alte Kamereren - @ViewData["Title"]</title>
    <meta property="og:title" content="Alte Kamereren - @ViewData["Title"]"/>
    @if (ViewData["Description"] != null)
    {
        <meta property="og:description" content="@ViewData["Description"]"/>
        <meta name="description" content="@ViewData["Description"]">
    }
    <meta property="og:image" content="https://www.altekamereren.org/images/OG.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/dist/style.css" asp-append-version="true">
</head>
<body>
@await Component.InvokeAsync("Header")
<div class="container body-content">
    <div class="content-wrapper">
        @RenderBody()
    </div>
</div>
@Html.Partial("_LoginModal")
<script>
    var loggedIn = @User.Identity.IsAuthenticated.ToString().ToLower();
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
@RenderSection("scripts", required: false)
<script src="~/dist/main.js" asp-append-version="true">
</script>
</body>
</html>