@{
    var currentPath = Context.Request.Path;
    bool isEnInformationPage = currentPath.Equals("/en-information", StringComparison.OrdinalIgnoreCase);
    var enPage = t.IsEnglish() || isEnInformationPage;
}

<!DOCTYPE html>
<html lang="@(enPage ? "en" : "sv")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alte Kamereren - @ViewData["Title"]</title>
    <meta property="og:title" content="Alte Kamereren - @ViewData["Title"]" />
    @if (ViewData["Description"] != null)
    {
        <meta property="og:description" content="@ViewData["Description"]" />
        <meta name="description" content="@ViewData["Description"]">
    }
    <meta property="og:image" content="https://www.altekamereren.org/images/OG.png" />
     <environment exclude="Development">
        <link rel="modulepreload" href="@settings.CDN/dist/@assetsModel.JsVendor">
        <link rel="stylesheet" href="@settings.CDN/dist/@assetsModel.CssMain">
        <link rel="stylesheet" href="@settings.CDN/dist/@assetsModel.CssVendor">
        @RenderSection("preloads", required: false)
    </environment>

    <link rel="icon" type="image/x-icon" href="@settings.CDN/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="@settings.CDN/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="@settings.CDN/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="@settings.CDN/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="@settings.CDN/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="@settings.CDN/android-chrome-192x192.png">

    @if (ViewData["Canonical"] != null)
    {
        <link rel="canonical" href="@ViewData["Canonical"]" />
    }
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <script type="application/ld+json">
        {
            "@@context": "https://schema.org",
            "@@type": "Organization",
            "@@id": "#organization",
            "name": "Musikalliansen Alte Kamereren",
            "description": "Musikalliansen Alte Kamereren best&#xE5;r av studenter fr&#xE5;n Lunds Universitet och Lunds Tekniska H&#xF6;gskola. I alliansen ing&#xE5;r den f&#xF6;rtr&#xE4;ffliga studentorkestern Alte Kamereren och den underbara Kamr&#xE9;rbaletten.",
            "url": "https://www.altekamereren.org/",
            "sameAs": [
                "https://www.facebook.com/altekamereren",
                "https://www.youtube.com/user/AlteKamereren",
                "https://www.instagram.com/altekamereren/"
            ],
            "foundingDate": "1964"
        }
    </script>
    @RenderSection("styles", required: false)
    @RenderSection("structuredData", required: false)
</head>
<body>
    <a href="#body-content" class="skip-link">@t.Get(TranslationDomains.Common, "ContinueContent")</a>
    @await Component.InvokeAsync("Header")
    <div class="container body-content" id="body-content">
        <div class="content-wrapper">
            <span class="mobile-language-change visible-xs">
                <a id="language-change-mob" class="@(t.IsEnglish() ? "SV" : "EN")" href="#">
                    @(t.IsEnglish() ? "SV" : "EN")
                </a>
            </span>
            @RenderBody()
        </div>
    </div>
    <div id="loginapp"></div>
    <environment exclude="Development">
        <script src="@settings.CDN/dist/@assetsModel.JsMain" type="module">
        </script>
    </environment>
    <environment include="Development">
        <script src="~/Scripts/main.ts" type="module" asp-append-version="true">
        </script>
    </environment>


    @RenderSection("scripts", required: false)
</body>
</html>