<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alte Kamereren - @ViewData["Title"]</title>
    <meta property="og:title" content="Alte Kamereren - @ViewData["Title"]" />
    @if (ViewData["Description"] != null)
    {
        <meta property="og:description" content="@ViewData["Description"]" />
        <meta name="description" content="@ViewData["Description"]">
    }
    <meta property="og:image" content="https://www.altekamereren.org/images/OG.png" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <environment exclude="Development">
        <link rel="modulepreload" href="/dist/vendor.js" asp-append-version="true">
        <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true">
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true">
    </environment>
    @RenderSection("styles", required: false)
</head>
<body>
    @await Component.InvokeAsync("Header")
    <div class="container body-content">
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </div>
    <div id="loginapp"></div>
    <script src="~/jquery/jquery-3.6.3.min.js"></script>
    <environment exclude="Development">
        <script src="~/dist/main.js" type="module" asp-append-version="true">
        </script>
    </environment>
    <environment include="Development">
        <script src="~/Scripts/main.js" type="module" asp-append-version="true">
        </script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>