@using AKCore.DataModel
@model AKCore.Models.AdminEventModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-sm-2">
        <a href="#" class="btn btn-primary" id="create-new-event">Lägg till event</a>
    </div>
    <div class="col-sm-3">
        <form>
            <div class="form-group">
                <select id="sort-future-select" name="Future" class="form-control">
                    <option>Kommande</option>
                    <option>Gamla</option>
                </select>
            </div>
        </form>
    </div>
</div>
<div class="row" id="admin-event-list">
    <h1>Händelser:</h1>
    @foreach (var e in Model.Events)
    {
        <div class="row event-row" data-id="@e.Id">
            <div class="col-sm-2">
                <p>@e.Day.ToString("dd MMM")</p>
            </div>
            <div class="col-sm-4">
                <p>@e.Name</p>
            </div>
            <div class="col-sm-4">
                <p>@e.Type</p>
            </div>
            <div class="col-sm-2">
                <a href="/AdminEvent/Remove/@e.Id" class="remove-event glyphicon glyphicon-remove"></a>
            </div>
        </div>
    }
</div>
<div id="edit-event-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editera Event</h4>
            </div>
            <form action="/AdminEvent/Edit" id="edit-event-form" method="post">
                <div class="modal-body">
                    <div class="alert alert-success" style="display: none;">
                    </div>
                    <div class="alert alert-danger" style="display: none;">
                    </div>
                    <input type="hidden" asp-for="Id" value="0"/>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <select class="form-control" asp-for="Type" required>
                            <option value="">Typ av event</option>
                            @foreach (var typ in AkEventTypes.Types)
                            {
                                <option>@typ</option>
                            }
                        </select>
                    </div>
                    <div class="form-group spelning-fest">
                        <label asp-for="Name"></label>
                        <input class="form-control" asp-for="Name">
                    </div>
                    <div class="form-group">
                        <label asp-for="Place"></label>
                        <input class="form-control" asp-for="Place">
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label asp-for="Day"></label>
                                <input class="form-control datepicker" asp-for="Day" required>
                            </div>
                            <div class="col-sm-3">
                                <label asp-for="Halan"></label>
                                <input class="form-control" type="time" asp-for="Halan">
                            </div>
                            <div class="col-sm-3 spelning-tid">
                                <label asp-for="There"></label>
                                <input class="form-control" type="time" asp-for="There">
                            </div>
                            <div class="col-sm-3 spelning-tid">
                                <label asp-for="Starts"></label>
                                <input class="form-control" type="time" asp-for="Starts" required>
                            </div>
                            <div class="col-sm-6 rep-fika">
                                <label asp-for="Fika"></label>
                                <select class="form-control" asp-for="Fika">
                                    <option value="">Välj en sektion</option>
                                    @foreach (var inst in AkFika.Sektioner)
                                    {
                                        <option>@inst</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                   
                    <div class="form-group description">
                        <label asp-for="Description"></label>
                        <textarea class="form-control" asp-for="Description"></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="InternalDescription"></label>
                        <textarea class="form-control" asp-for="InternalDescription"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                    <button type="submit" class="btn btn-primary">Spara</button>
                </div>
            </form>
        </div>
    </div>
</div>