@model AKCore.Models.PageEditModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<div class="row">
    <form id="page-edit" action="" method="post">
        <div class="col-md-6">
            <div class="alert alert-danger" style="display: none;"></div>
            <div class="alert alert-success" style="display: none;"></div>
            <div class="form-group">
                <label for="name">Namn</label>
                <input type="text" class="form-control" required="required" id="name" name="Name" placeholder="Namn" value="@Model.Name">
            </div>
            <div class="form-group">
                <label for="slug">Sidlänk</label>
                <input type="text" class="form-control" data-oldslug="@Model.Slug" required="required" id="slug" name="Slug" placeholder="Sidlänk" value="@Model.Slug">

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="slug">Inställningar</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="start-page"> Startsida
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        @Html.EditorFor(x => x.LoggedIn) Kräver inloggning
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Spara</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle add-widgets-btn" type="button" id="add-widgets-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Lägg till widget
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu widget-choose" aria-labelledby="add-widgets-btn">
                <li>
                    <a href="#" data-type="textimage">
                        <span class="glyphicon glyphicon-align-left"></span> 
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </li>
                <li>
                    <a href="#" data-type="text">
                        <span class="glyphicon glyphicon-align-justify nomargin"></span>
                        <span class="glyphicon glyphicon-align-left"></span>
                    </a>
                </li>
                <li>
                    <a href="#" data-type="image" style="text-align: center;">
                        <span class="glyphicon glyphicon-picture"></span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
<ul id="widget-area">
    @foreach (var w in Model.Widgets)
    {
        <li class="row widget @w.Type" data-type="@w.Type">
            <div class="widget-header">
                <h4>@w.GetHeader()</h4> <span class="btn pull-right remove-widget glyphicon glyphicon-remove"></span>
            </div>
            @if (w.Type == "textimage")
            {
                <div class="col-sm-6">
                    <textarea class="mce-content">@w.Text</textarea>
                </div>
                <div class="col-sm-6">
                    <div class="picture-select">
                        <img class="selected-image" src="@w.Image"/>
                        <a class="btn btn-default choose-picture-btn">Välj bild</a>
                    </div>
                </div>
            }
            else if (w.Type == "text")
            {
                <div class="col-sm-12">
                    <textarea class="mce-content">@w.Text</textarea>
                </div>
            }
            else if (w.Type == "image")
            {
                <div class="col-sm-12">
                    <div class="picture-select">
                        <img class="selected-image" src="@w.Image" />
                        <a class="btn btn-default choose-picture-btn">Välj bild</a>
                    </div>
                </div>
            }
        </li>
    }
</ul>
<ul id="widget-templates">
    <li class="row widget textimage" data-type="textimage">
        <div class="widget-header">
            <h4>Text-bild-widget</h4> <span class="btn pull-right remove-widget glyphicon glyphicon-remove"></span>
        </div>
        <div class="col-sm-6">
            <textarea class="mce-content"></textarea>
        </div>
        <div class="col-sm-6">
            <div class="picture-select">
                <img class="selected-image" src=""/>
                <a class="btn btn-default choose-picture-btn">Välj bild</a>
            </div>
        </div>
    </li>
    <li class="row widget text" data-type="text">
        <div class="widget-header">
            <h4>Text-widget</h4> <span class="btn pull-right remove-widget glyphicon glyphicon-remove"></span>
        </div>
        <div class="col-sm-12">
            <textarea class="mce-content"></textarea>
        </div>
    </li>
    <li class="row widget image" data-type="image">
        <div class="widget-header">
            <h4>Bild-widget</h4> <span class="btn pull-right remove-widget glyphicon glyphicon-remove"></span>
        </div>
        <div class="col-sm-12">
            <div class="picture-select">
                <img class="selected-image" src=""/>
                <a class="btn btn-default choose-picture-btn">Välj bild</a>
            </div>
        </div>
    </li>
</ul>


<div id="imagePickerModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Välj en bild</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline ak-search" id="search-pickermedia-form" action="" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="SearchPhrase" id="searchtext">
                    </div>
                    <button type="submit" class="btn btn-default">Sök</button>
                </form>
                <div class="row gallery" id="picker-images"></div>
            </div>
            <div class="modal-footer">
                Välj bild
            </div>
        </div>
    </div>
</div>


<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>