@model AKCore.Models.EditPagesModel

<div class="row">
    <div class="col-md-6">
        <button type="button" id="new-page-button" class="btn btn-primary">
            Lägg till sida
        </button>
    </div>
</div>
<div class="row edit-form" id="new-page-form">
    <form class="form-inline" action="/Edit/CreatePage" method="post">
        <div class="alert alert-danger" style="display: none;">
        </div>
        <div class="form-group">
            <label for="name">Namn: </label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Sidnamn">
        </div>
        <div class="form-group">
            <label for="slug">Sidlänk: </label>
            <input type="text" class="form-control" name="slug" id="slug" placeholder="sidlänk">
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="loggedIn"> Enbart för inloggade
                </label>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Skapa</button>
    </form>

</div>
<div id="pages" class="edit-form">
    <div class="row top-row">
        <div class="col-xs-3">
            Namn
        </div>
        <div class="col-xs-2">
            Sidlänk
        </div>
        <div class="col-xs-2">
            Kräver inloggning
        </div>
        <div class="col-xs-2">
            Senast ändrad
        </div>
        <div class="col-xs-3">

        </div>
    </div>

    @foreach (var p in Model.Pages)
    {
        <div class="row">
            <div class="col-xs-3">
                @p.Name
            </div>
            <div class="col-xs-2">
                <a href="@p.Slug">@p.Slug</a>
            </div>
            <div class="col-xs-2">
                @(p.LoggedIn||p.BalettOnly)
            </div>
            <div class="col-xs-2">
                @(p.LastModified.ToString("yyyy-MM-dd"))
            </div>
            <div class="col-xs-3">
                <a class="btn btn-default" href="/Edit/Page/@p.Id">Ändra</a>
                <a class="btn btn-default remove-page" href="/Edit/RemovePage/@p.Id">Ta bort</a>
            </div>
        </div>
    }
</div>

@section styles {
    <environment exclude="Development">
        <link rel="stylesheet" href="/dist/admin.css" asp-append-version="true">
    </environment>
}

@section scripts {
    <environment exclude="Development">
        <script src="~/dist/admin.js" type="module" asp-append-version="true"></script>
    </environment>
    <environment include="Development">
        <script src="~/Scripts/admin.ts" type="module" asp-append-version="true">
        </script>
    </environment>
}