@model AKCore.Models.MenuEditModel


@foreach (var menu in Model.Menus)
{
    <div class="col-sm-4 menu-item">
        <div class="menu-row">
            <a class="btn btn-default menu" data-id="@menu.Id" data-logged="@menu.MenuLoggedIn" data-link="@menu.LinkId">@menu.Name</a>
            <a class="btn add-sub-menu glyphicon glyphicon-plus" data-id="@menu.Id"></a>
            <a class="btn remove-menu glyphicon glyphicon-remove" data-id="@menu.Id" data-name="@menu.Name"></a>
            <a class="btn move-right glyphicon glyphicon-chevron-right" data-id="@menu.Id"></a>
            <a class="btn move-left glyphicon glyphicon-chevron-left" data-id="@menu.Id"></a>
        </div>
        @if (menu.Children != null)
        {
            foreach (var submenu in menu.Children.OrderBy(x=>x.PosIndex).ToList())
            {
                <div class="menu-row sub-row">
                    <a class="btn submenu" data-id="@submenu.Id" data-link="@submenu.LinkId">@submenu.Name</a>
                    <a class="btn remove-sub-menu glyphicon glyphicon-remove" data-id="@submenu.Id" data-name="@submenu.Name"></a>
                    <a class="btn move-down glyphicon glyphicon-chevron-down" data-id="@submenu.Id" data-top="@menu.Id"></a>
                    <a class="btn move-up glyphicon glyphicon-chevron-up" data-id="@submenu.Id" data-top="@menu.Id"></a>
                </div>
            }
        }

    </div>
}