@using System.Threading.Tasks
@using AKCore.DataModel
@model AKCore.Models.RecruitsModel

<div id="recruits-app"></div>

<script>
    var recruitList = [];
    @foreach (var recruit in Model.Recruits)
    {
        @: var recruit = {};
        @: recruit.fname = '@recruit.FirstName';
        @: recruit.lname = '@recruit.LastName';
        @: recruit.archived = @recruit.Archived.ToString().ToLower();
        @: recruit.created = new Date('@recruit.Created.ToString("yyyy-MM-dd")');
        @: recruit.email = '@recruit.Email';
        @: recruit.phone = '@recruit.Phone';
        @: recruit.instrument = '@recruit.Instrument';
        @: recruit.other = '@recruit.Other';
        @: recruit.id = @(recruit.Id);
        @: recruitList.push(recruit);
    }
</script>

@section styles {
    <partial name="Imports/AdminImportStyles" />
}

@section scripts {
    <partial name="Imports/AdminImportScripts" />
}