@using AKCore.DataModel
@model AKCore.Models.RecruitsModel
@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div id="recruitList">
    
</div>

<script>
    var recruitListData = {};
    @foreach (var recruit in Model.Recruits)
    {
        @: recruitListData['@recruit.Id'] = {};
        @: var recruit = recruitListData['@recruit.Id'];
        @: recruit.fname = '@recruit.FirstName';
        @: recruit.lname = '@recruit.LastName';
        @: recruit.archived = @recruit.Archived.ToString().ToLower();
        @: recruit.created = new Date('@recruit.Created.ToString("yyyy-MM-dd")');
        @: recruit.email = '@recruit.Email';
        @: recruit.phone = '@recruit.Phone';
        @: recruit.instrument = '@recruit.Instrument';
        @: recruit.other = '@recruit.Other';
        @: recruit.id = '@recruit.Id';
    }
</script>
